@import url('./theme.css');
 
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');
@import url('https://fonts.gstatic.com/s/materialiconsoutlined/v101/gok-H7zzDkdnRel8-DQ6KAXJ69wP1tGnf4ZGhUcel5euIg.woff2');

$primary-color: #1ab394;
$primarydark-color: #18a689;
$success-color:#00b637;
$nav-background: #024bb7;
$nav-collapse-background: #0041a2;
$border-color: #e7eaec;
$border-color: #e7eaec;
$bg-color: white;


body {
  min-height: 700px;

  color: #1b1b1b;
  font-size: 14px;
  font-family: 'Kanit', 'Mitr', 'IBM Plex Sans Thai', 'Material Icons Outlined';

}


.nav.metismenu>li>a {

  padding: 14px 10px;

}

.help-block {
  color: red;
}

.progress-loader {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1099;
  align-items: center;
  justify-content: center;
  display: grid;
}

.nav-second-level li a {
  padding-left: 22px;
}

.loading-spinner img {
  align-self: end;
}

.loading-message {
  text-align: center;
  align-self: start;
}

.loader {
  border: 5px solid #f3f3f3;
  /* Light grey */
  border-top: 5px solid $primary-color;
  /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form-control {
  border: 2px solid $border-color;
  border-radius: 5px;
  font-size: 14px;
}

 
 
.nav-tabs > li > a {
  
  padding: 6px 15px;
}

.nav-item .label {
  float: right;
  margin-top: 3px;
}

.chosen-container-single .chosen-single:hover {
  border-color: $primary-color;
}

.chosen-container {
  width: 100% !important;
}

.required {
  color: #e74a3b;
  font-weight: 400;
}
.is-invalid .form-control,
.is-invalid .chosen-container-single .chosen-single {
  border-color: #e74a3b;
}


.chosen-container-single .chosen-single {
  height: 35px;
  line-height: 35px;
  border: 2px solid $border-color;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 10px;
  
  line-height: 25px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 2px solid $border-color;
  border-radius: 0px;
  ;
}

.chosen-container-multi .chosen-choices {
  padding: 2px 5px;
  ;
}

.chosen-container .chosen-drop {
  border: 2px solid $border-color;
  box-shadow: 0 0 1px #eee;
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  margin-top: 5px;
  padding-top: 3px;
  border-radius: 5px;
  ;
}

.chosen-container-multi .chosen-choices li.search-choice {
  background-color: $primary-color;
  background-image: none;
  color: #fff;
  box-shadow: none;
  border: 1px solid $primary-color;
}

/* Removes the Chosen removal button image */
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: none !important;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  left: 0px
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after {
  font-family: "FontAwesome";
  content: "\f078";
  color: #fff;
  font-size: 9px;
}

.chosen-container-single .chosen-single div b {

  display: block;
  color: #8d9093;
  font-size: 9px;
  width: 100%;
  height: 100%;

  background-image: none !important;
  margin: -3px;
}

.chosen-container-single .chosen-single div b::after {
  content: "\f078";
  font-family: "FontAwesome";
}

.chosen+.chosen-container-single.chosen-with-drop .chosen-single div b::after {
  content: '∧';
}

.chosen-container-single .chosen-search input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 3px;
  background-color: #f9f9f9;

}

.chosen-container-single .chosen-search input[type="text"] {
  position: relative;
  background-image: none !important;
  ;
}

.chosen-container-single .chosen-search input[type="text"]::after {
  font-family: 'FontAwesome';
  position: absolute;
  top: 0px;

  content: "\e64b";
}

.chosen-container-active .chosen-choices {

  border: 1px solid $primary-color;
  box-shadow: none;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: inherit;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 2px solid $primary-color;
  border-radius: 5px;
}

.chosen-container .chosen-results li.highlighted {
  background-color: $primary-color;

  border-radius: 5px;
}

.chosen-container .chosen-results li {
  padding: 6px 6px;
}

.picker__header select {
  display: inline-block !important;
}


.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {

  background-color: $primary-color;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.date-picker>span {
  position: absolute;
  right: 7px;
  z-index: 1001;
  top: 7px;
  color: $border-color
}

.date-picker .form-control:last-child,
.date-picker.form-control:focus,
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 5px;
}

#side-menu li.active {
  border: none;
  background: #293846;
}

.float-e-margins .btn {
  margin-bottom: 0px;
  margin-right: 5px;
}
.ibox-Task,
.ibox-footer,
.ibox-content {
  border:#fff; 
}
.ibox-Task {
  border-radius: 10px 10px 0px 0px;
  border-bottom:1px solid #f4f4f4
}

.ibox-footer {
  border-radius: 0px 0px 10px 10px;
  border-top:1px solid #f4f4f4
}
.was-validated .form-control:invalid, .form-control.is-invalid {
  background-image:none;
}
.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
  border-color: #dc3545;
  box-shadow:none;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: $primary-color;
}
.table > tbody > tr > td {
  padding: 5px;
  border:none;
}
.center {
  text-align: center;
}

.ui-checkbox,
.ui-radio {
	position: relative;
	margin-bottom: 0;
	cursor: pointer;
	padding-left: 28px;
	font-weight: 400;
	min-height: 20px
}
.ui-checkbox .input-span,
.ui-radio .input-span {
	position: absolute;
	display: inline-block;
	height: 20px;
	width: 20px;
	left: 0;
	border: 1px solid #ccc;
	border-radius: 4px
}
.ui-checkbox .input-span::after,
.ui-radio .input-span::after {
	content: '';
	position: absolute;
	display: none;
	width: 5px;
	height: 10px;
	left: 7px;
	top: 3px;
	border: solid #888;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
.ui-checkbox input,
.ui-radio input {
	position: absolute;
	opacity: 0
}
.ui-checkbox input:checked~.input-span:after,
.ui-radio input:checked~.input-span:after {
	display: block
}
.ui-checkbox:hover .input-span,
.ui-radio:hover .input-span {
	border-color: #b8b8b8
}
.ui-checkbox.ui-checkbox-gray .input-span,
.ui-checkbox.ui-radio-gray .input-span,
.ui-radio.ui-checkbox-gray .input-span,
.ui-radio.ui-radio-gray .input-span {
	background-color: #e6e6e6;
	border-color: transparent
}
.ui-checkbox.ui-checkbox-gray .input-span::after,
.ui-checkbox.ui-radio-gray .input-span::after,
.ui-radio.ui-checkbox-gray .input-span::after,
.ui-radio.ui-radio-gray .input-span::after {
	border-color: #888
}
.ui-checkbox.disabled,
.ui-radio.disabled {
	opacity: .7;
	cursor: not-allowed
}
.ui-checkbox.check-single,
.ui-radio.check-single {
	padding-left: 18px
}
.ui-radio .input-span {
	border-radius: 50%
}
.ui-radio .input-span::after {
	border: 0;
	height: 6px;
	left: 6px;
	top: 6px;
	width: 6px;
	background: #888;
	border-radius: 100%
}
.check-list .ui-checkbox,
.check-list .ui-radio {
	display: block
}
.check-list .ui-checkbox+.ui-checkbox,
.check-list .ui-radio+.ui-radio {
	margin-top: 8px
}
.ui-checkbox-inline,
.ui-radio-inline {
	display: inline-block;
	margin-right: 15px
}
.ui-checkbox-primary input:checked~.input-span {
	background-color: $primary-color;
	border-color: $primary-color
}
.ui-checkbox-primary input:checked~.input-span::after {
	border-color: #fff
}
.ui-radio-primary .input-span,
.ui-radio-primary:hover .input-span {
	border-color: $primary-color
}
.ui-radio-primary input:checked~.input-span {
	background-color: $primary-color
}
.ui-radio-primary input:checked~.input-span::after {
	background-color: #fff
}
.ui-checkbox-success input:checked~.input-span {
	background-color: #2ecc71;
	border-color: #2ecc71
}
.ui-checkbox-success input:checked~.input-span::after {
	border-color: #fff
}
.ui-radio-success .input-span,
.ui-radio-success:hover .input-span {
	border-color: #2ecc71
}
.ui-radio-success input:checked~.input-span {
	background-color: #2ecc71
}
.ui-radio-success input:checked~.input-span::after {
	background-color: #fff
}
.ui-checkbox-info input:checked~.input-span {
	background-color: #23b7e5;
	border-color: #23b7e5
}
.ui-checkbox-info input:checked~.input-span::after {
	border-color: #fff
}
.ui-radio-info .input-span,
.ui-radio-info:hover .input-span {
	border-color: #23b7e5
}
.ui-radio-info input:checked~.input-span {
	background-color: #23b7e5
}
.ui-radio-info input:checked~.input-span::after {
	background-color: #fff
}
.ui-checkbox-warning input:checked~.input-span {
	background-color: #f39c12;
	border-color: #f39c12
}
.ui-checkbox-warning input:checked~.input-span::after {
	border-color: #fff
}
.ui-radio-warning .input-span,
.ui-radio-warning:hover .input-span {
	border-color: #f39c12
}
.ui-radio-warning input:checked~.input-span {
	background-color: #f39c12
}
.ui-radio-warning input:checked~.input-span::after {
	background-color: #fff
}
.ui-checkbox-danger input:checked~.input-span {
	background-color: #e74c3c;
	border-color: #e74c3c
}
.ui-checkbox-danger input:checked~.input-span::after {
	border-color: #fff
}
.ui-radio-danger .input-span,
.ui-radio-danger:hover .input-span {
	border-color: #e74c3c
}
.ui-radio-danger input:checked~.input-span {
	background-color: #e74c3c
}
.ui-radio-danger input:checked~.input-span::after {
	background-color: #fff
}

.page-item.disabled .page-link {
  color: #d3d5d7;
}


// slider switch

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-color
}

input:focus + .slider {
  box-shadow: 0 0 1px $primary-color
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;}

.mr-20 {
  margin-right: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
textarea.form-control {
 
  height: 100px;
}

.label-success, .badge-success {
  background-color: $success-color;
  color: #FFFFFF;
}
.text-success  {
   color: $success-color;
}
.text-upper {
  text-transform: uppercase;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
  border-top: 1px solid rgba(187, 187, 187, 0.1);
}