.otp-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 10px;

  .otp-input {
    width: 50px;
    height: 50px;
    border: 1px solid var(--neutral-200);
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--primary-600);
      box-shadow: 0 0 0 3px var(--primary-100);
      outline: none;
    }

    &.is-invalid {
      border-color: var(--error-500);
      
      &:focus {
        box-shadow: 0 0 0 3px var(--error-100);
      }
    }
  }
}