.tags-container {
  position: relative;
  width: 100%;
  max-width: 500px;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
   
}

.selected-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.tag {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.remove-tag {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-left: 5px;
}

input.form-control {
  border: none;
  flex-grow: 1;
  padding: 5px;
  margin-top: 5px;
  outline: none;
  width: 100%;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
  border-radius: 6px;
}

.dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li {
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}
