Dear {fullName},
<br /><br /><br />
การลงทะเบียนเข้าใช้งานระบบ {system} ของท่านสำเร็จแล้ว<br /><br /><br />
ชื่อผู้ใช้งาน (Username) ของท่านคือ <b>{userName}</b> <br />
รหัสผ่าน (Password) ของท่านคือ <b>{password}</b><br /><br />
ท่านสามารถเข้าใช้งานระบบ {system} ได้ที่ <a href="{link}">คลิกลิงค์นี้</a><br /><br /><br />

หมายเหตุ: ท่านสามารถเปลี่ยนรหัสผ่านของท่านได้เมื่อท่านเข้าสู่ระบบครั้งแรก<br /><br />

<br /><br /><br />
Congratulations! You have successfully registered for the {system}.<br /><br /><br />
Your username is <b>{userName}</b> <br />
Your password is <b>{password}</b><br />
You can access the {system} system by clicking on the <a href="{link}">link</a>.<br /><br /><br />

Note: You can change your password once you log in for the first time.<br /><br />